// ========= PADRÃO USADO EM TEXTOS ========= //

//
// DISPLAY
//

%display-96-bold {
	font-weight: 700;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-96-semi {
	font-weight: 600;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-96-regular {
	font-weight: 500;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-88-bold {
	font-weight: 700;
	font-size: 8.8rem;
	line-height: 125%;
}

%display-88-semi {
	font-weight: 600;
	font-size: 8.8rem;
	line-height: 125%;
}

%display-88-regular {
	font-weight: 500;
	font-size: 8.8rem;
	line-height: 125%;
}

//
//  HEADING
//

%heading-72-bold {
	font-weight: 700;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-72-semi {
	font-weight: 600;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-72-regular {
	font-weight: 500;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-56-bold {
	font-weight: 700;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-56-semi {
	font-weight: 600;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-56-regular {
	font-weight: 500;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-40-bold {
	font-weight: 700;
	font-size: 4rem;
	line-height: 125%;
}

%heading-40-semi {
	font-weight: 600;
	font-size: 4rem;
	line-height: 125%;
}

%heading-40-regular {
	font-weight: 500;
	font-size: 4rem;
	line-height: 125%;
}

%heading-48-bold {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 125%;
}

%heading-48-semi {
	font-weight: 600;
	font-size: 4.8rem;
	line-height: 125%;
}

%heading-48-regular {
	font-weight: 500;
	font-size: 4.8rem;
	line-height: 125%;
}

%heading-32-bold {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-32-semi {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-32-regular {
	font-weight: 500;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-24-bold {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 125%;
}

%heading-24-semi {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 125%;
}

%heading-24-regular {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 125%;
}

//
// BODY
//

%body-20-bold {
	font-weight: 700;
	font-size: 2rem;
	line-height: 150%;
}

%body-20-semi {
	font-weight: 600;
	font-size: 2rem;
	line-height: 150%;
}

%body-20-regular {
	font-weight: 500;
	font-size: 2rem;
	line-height: 150%;
}

%body-18-bold {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 150%;
}

%body-18-semi {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 150%;
}

%body-18-regular {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 150%;
}

%body-16-bold {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 150%;
}

%body-16-semi {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 150%;
}

%body-16-regular {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 150%;
}

%body-14-bold {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 150%;
}

%body-14-semi {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 150%;
}

%body-14-regular {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 150%;
}

// BUTTON

%button-anchor {
	@include flex(row, center, center, 1.2rem);
	--color: #000;
	transition: 0.32s;

	span {
		color: var(--color);
		display: block;
		position: relative;

		&::after {
			transition: 0.32s;
			content: "";
			position: absolute;
			bottom: -0.2rem;
			left: 0;

			height: 0.1rem;
			width: 0;

			background-color: var(--color);
		}
	}

	@extend %body-14-semi;
	&:hover {
		// transform: scale(1.05);

		span {
			&::after {
				width: 100%;
			}
		}
	}
}

%button-primary {
	@include padding-x(1.6rem);
	@include flex(row, center, flex-start, 1rem);

	@extend %body-14-semi;

	height: 4.1rem;
}

%button-form {
	@include padding-x(2.7rem);
	@include flex(row, center, flex-start, 1rem);

	@extend %body-16-semi;

	height: 5rem;
}

%button-bigger {
	@include padding-x(3.2rem);
	@include flex(row, center, flex-start, 1rem);

	@extend %body-18-semi;

	height: 6rem;
}

%button-primary-outlined {
	@extend %button-primary;
	--color: #{$color-primary-default};
	--alternative-color: #{$color-neutral-light-gray-03};

	border: solid 1px var(--color);
	color: var(--color);

	transition: 0.32s ease-in-out;

	&:hover {
		background-color: var(--color);
		color: var(--alternative-color);
	}
}

%button-form-filled {
	@extend %button-form;
	--color: #{$color-primary-default};
	--alternative-color: #{$color-neutral-light-gray-03};

	background: var(--color);
	color: var(--alternative-color);

	transition: 0.32s ease-in-out;

	&:hover {
		filter: brightness(1.2);
	}
}

%button-bigger-filled {
	@extend %button-bigger;
	--color: #{$color-primary-default};
	--alternative-color: #{$color-neutral-light-gray-03};

	background: var(--color);
	color: var(--alternative-color);

	transition: 0.32s ease-in-out;

	&:hover {
		filter: brightness(1.2);
	}
}

%button-primary-hide-arrow-effect {
	gap: 0;

	svg {
		max-width: 0;
		overflow: hidden;
		transition: 0.5s ease-in-out;
		opacity: 0;
	}

	&:hover {
		svg {
			margin-left: 1rem;
			max-width: 4rem;
			opacity: 1;
		}
	}
}
