// ========= PADRÃO USADO EM TEXTOS ========= //

//
// DISPLAY
//

%display-96-bold {
	font-weight: 700;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-96-semi {
	font-weight: 600;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-96-regular {
	font-weight: 500;
	font-size: 9.6rem;
	line-height: 125%;
}

%display-88-bold {
	font-weight: 700;
	font-size: 8.8rem;
	line-height: 125%;
}

%display-88-semi {
	font-weight: 600;
	font-size: 8.8rem;
	line-height: 125%;
}

%display-88-regular {
	font-weight: 500;
	font-size: 8.8rem;
	line-height: 125%;
}

//
//  HEADING
//

%heading-72-bold {
	font-weight: 700;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-72-semi {
	font-weight: 600;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-72-regular {
	font-weight: 500;
	font-size: 7.2rem;
	line-height: 125%;
}

%heading-56-bold {
	font-weight: 700;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-56-semi {
	font-weight: 600;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-56-regular {
	font-weight: 500;
	font-size: 5.6rem;
	line-height: 125%;
}

%heading-40-bold {
	font-weight: 700;
	font-size: 4rem;
	line-height: 125%;
}

%heading-40-semi {
	font-weight: 600;
	font-size: 4rem;
	line-height: 125%;
}

%heading-40-regular {
	font-weight: 500;
	font-size: 4rem;
	line-height: 125%;
}

%heading-32-bold {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-32-semi {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-32-regular {
	font-weight: 500;
	font-size: 3.2rem;
	line-height: 125%;
}

%heading-24-bold {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 125%;
}

%heading-24-semi {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 125%;
}

%heading-24-regular {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 125%;
}

//
// BODY
//

%body-20-bold {
	font-weight: 700;
	font-size: 2rem;
	line-height: 125%;
}

%body-20-semi {
	font-weight: 600;
	font-size: 2rem;
	line-height: 125%;
}

%body-20-regular {
	font-weight: 500;
	font-size: 2rem;
	line-height: 125%;
}

%body-18-bold {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 125%;
}

%body-18-semi {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 125%;
}

%body-18-regular {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 125%;
}

%body-16-bold {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 125%;
}

%body-16-semi {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 125%;
}

%body-16-regular {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 125%;
}

%body-14-bold {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 125%;
}

%body-14-semi {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 125%;
}

%body-14-regular {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 125%;
}
