.brands {
	@include padding-y(4.6rem);
	background-color: $color-neutral-light-gray-01;

	&__list {
		@include flex(row, center, space-between);
	}

	@include media("<=sm_tablet") {
		&__list {
			@include padding-x(5rem);
			flex-wrap: wrap;
			gap: 5.4rem;
		}
	}

	@include media("<=md_phone") {
		&__list {
			justify-content: center;
		}
	}
}
